<%# observe http://localhost:3000/rails/info/routes %>
<%= link_to "#{Coin.model_name.human}", coins_path, class: "btn btn-primary btn-lg", role: "button" %>

<%# observe http://localhost:3000/rails/info/routes %>
<%= link_to "#{MiningType.model_name.human}", mining_types_path, class: "btn btn-primary btn-lg", role: "button"  %>

<%# Usando formatação de data %>
<%# Essa funcao data_br é uma funcao que foi criado dentro de helpers/application_helper.rb %>
<%# <p> Data <%= data_br(Date.today) </p> %>
<%# <p> Data <%= data_br(Date.today)   </p> %>