<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%# criando um comment...%>

<p> A soma é :<%= 1 + 1 %> </p>

<% a = "a minha variavel a" %>

<p> Imprimindo a variavel a: <%= a %> </p>

<p> Data de hoje: <%= Date.today %></p>