<h1>Seja bem vindo!</h1>

<ul>
  <li>
    <a href="/coins"> Cadastro de moedas </a>
  </li>
  <li>
    <%# observe http://localhost:3000/rails/info/routes %>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>