<h1 class="text-center"><%= t('new.coin') %></h1>

<div class="card m-4 p-2" style="width: 35rem;">
  <%= render 'form', coin: @coin %>
</div>

<div class="p-2">
  <%= link_to t('links.back'), coins_path, class: "btn btn-primary btn-sm" %>
</div>
